h2 {
  margin-bottom: 15px;
}

form {
  border-top: 4px solid #009966;
}
/* Success toast (green) */
.snackbar-success {
  background-color: #4caf50 !important; /* Material green */
  color: #fff !important;
}

/* Error toast (red) */
.snackbar-error {
  background-color: #f44336 !important; /* Material red */
  color: #fff !important;
}
